doctype html
html
  head
    title BOom BOom Dance Academy
    block scripts 
    block style 
  body
    nav#navbar.nav
     ul  
      div#logo
        img(src="./static/image/dance.png")
        | BBDA
      li  #[a(href="/") Home]
      li  #[a(href="/") About us] 
      li  #[a(href="/") Services]
      li  #[a(href="/contact") Contact]
      li  #[a(href="/") Class info]
    block content
    footer#footerSection
      | Copyright@ 2022 Boom Boom Dance Academy | All rights are reserved